#wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3b945e;
    box-shadow: 5px 5px 5px #1e1e1e;
}

h1, h2{
    text-align: center;
}

nav{
    float: left;
    width: 140px;
    padding: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: #3b945e;
    border-bottom: 1px solid #ffffff;
    background-image: url("sprites.gif");
    background-repeat: no-repeat;
    background-position: right 0;
}

nav a:link{
    color: #ffffff;
}

nav a:visited{
    color: #ff0000;
}

nav a:hover{
    color: #0000ff;
    background-color: #eaeaea;
    background-position: right -100px;
}

main{
    margin-left: 140px;
    margin-right: 210px;
    padding: 10px;
    background-color: #ffffff;
}

aside {
    float: right;
    width: 200px;
    color: #000000;
}

aside h3 {
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #000000;
    margin-right: 10px;
}

footer{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

iframe{
    width: 100%;
    height: 100%;
}

img {
    width: 400px;
    margin: auto;
    display: block;
}

@media only screen and (max-width:1024px){
    main {margin-left: 0;}
    nav{
        float: none;
        width: auto;
        text-align: center;
        position: static;
    }
    body {margin: 0;}
    #wrapper{width:auto;}
    h1, h2 {font-size: 150%;}
    p{font-size: 90%;}
    img{width:300px}
}

@media only screen and (max-width:768px){
    main {margin-right: 0;}
    aside {
        float: none;
        width: auto;
        text-align: center;
        position: static;
    }
    h1, h2 {font-size: 120%;}
    p {font-size: 80%;}
    img {width: 200px;}
}